<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/lodash.compat.min.js"></script>
    <script src="lib/restangular.min.js"></script>
    <script src="js/home.js"></script>
</head>
<body  style="text-align:center;">
<div ng-app="home" ng-controller="homeCtrl">
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>

	
<button class="btn btn-primary" style="float:right;background-color:#7842ba;border-color:black;margin-bottom:10px;color:white"  ng-click="homefullName();" >Add New Batch</button>


</div>

</body>
</html>